
{% extends "base.html" %} {% block title %}History{% endblock %} {% block content
    %}
    
    <section class="section dashboard">
        <div class="row">
            <div class="col-6">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Working Approval</h3>
                  </div>
                  
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          
                          
                        
                         
                          <th>Host</th>
                          <th>Compay Name</th>
                          <th>Date</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
               
                        
                          <td>
                            Subiyanto
                          </td>
                          <td>
                            2134123412
                          </td>
                          <td>
                            <span class="badge bg-success me-1"></span> Working
                          </td>
                          <td>4 Feb 2018 - 4 Feb 2018 </td>
                          <td class="text-end">
                            <div class="d-flex align-items-center gap-3 fs-6">
                                <span data-bs-toggle="modal" data-bs-target="#staticBackdropPass">
                                <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="" data-bs-original-title="Change Password" aria-label="Views"><i class="bi bi-file-earmark-lock2"></i></a>
                              </span>
                                <span data-bs-toggle="modal" data-bs-target="#staticBackdropEdit">
                                <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom"   onclick="" title="" data-bs-original-title="Edit info" aria-label="Edit"><i class="bi bi-pencil-fill"></i></a>
                              </span>
                                <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Delete" aria-label="Delete" onClick=""><i class="bi bi-trash-fill"></i></a>
                              </div>
                          </td>
                        </tr>
                        <tr>
                         
                          
                          <td>
                            Ayong
                          </td>
                          <td>
                            23412341234
                          </td>
                          <td>
                            <span class="badge bg-warning me-1"></span> Meeting
                          </td>
                          <td>4 Feb 2018 - 4 Feb 2018 </td>
                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">
                                  Action
                                </a>
                                <a class="dropdown-item" href="#">
                                  Another action
                                </a>
                              </div>
                            </span>
                          </td>
                        </tr>
                        <tr>
                         
                          
                          <td>
                            test
                          </td>
                          <td>
                            123413243124123
                          </td>
                          <td>
                            <span class="badge bg-warning me-1"></span> Overtime
                          </td>
                          <td>4 Feb 2018 - 4 Feb 2018 </td>
                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">
                                  Action
                                </a>
                                <a class="dropdown-item" href="#">
                                  Another action
                                </a>
                              </div>
                            </span>
                          </td>
                        </tr>
                        
                        
                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Overtime Approval</h3>
                  </div>
                 
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          
                          
                        
                         
                          <th>Host</th>
                          <th>Compay Name</th>
                          <th>Date</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
               
                        
                          <td>
                            Subiyanto
                          </td>
                          <td>
                            2134123412
                          </td>
                          <td>
                            <span class="badge bg-success me-1"></span> Working
                          </td>
                          <td>4 Feb 2018 - 4 Feb 2018 </td>
                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">
                                  Status
                                </a>
                                <a class="dropdown-item" href="#">
                                  View Detail
                                </a>
                              </div>
                            </span>
                          </td>
                        </tr>
                        <tr>
                         
                          
                          <td>
                            Ayong
                          </td>
                          <td>
                            23412341234
                          </td>
                          <td>
                            <span class="badge bg-warning me-1"></span> Meeting
                          </td>
                          <td>4 Feb 2018 - 4 Feb 2018 </td>
                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">
                                  Action
                                </a>
                                <a class="dropdown-item" href="#">
                                  Another action
                                </a>
                              </div>
                            </span>
                          </td>
                        </tr>
                        <tr>
                         
                          
                          <td>
                            test
                          </td>
                          <td>
                            123413243124123
                          </td>
                          <td>
                            <span class="badge bg-warning me-1"></span> Overtime
                          </td>
                          <td>4 Feb 2018 - 4 Feb 2018 </td>
                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">
                                  Action
                                </a>
                                <a class="dropdown-item" href="#">
                                  Another action
                                </a>
                              </div>
                            </span>
                          </td>
                        </tr>
                        
                        
                      </tbody>
                    </table>
                  </div>
                 
                </div>
             
    </div>
        </div>
    </section>
    {% endblock %}