
{% extends "base.html" %} {% block title %}History{% endblock %} {% block content
    %}


 <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">History Approval</h3>
            </div>
            <div class="card-body border-bottom py-3">
              <div class="d-flex">
                <div class="ms-auto text-muted">
                  Search:
                  <div class="ms-2 d-inline-block">
                    <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                  </div>
                </div>
              </div>
            </div>

            <!-- Tabel Histori Approval -->
            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                  <tr>
                    
                    <th>Location</th>
                    <th>Company Name</th>
                    <th>Email</th>
                    <th>Host</th>
                    <th>Purpose</th>
                    <th>Date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {%for permit in permit.items %}
                      <td>
                        {{permit.location}}
                      </td>
                      <td>
                        <span class="flag flag-country-us"></span>
                        {{permit.namaVendor}}
                      </td>
                      <td>
                        {{permit.email}}
                      </td>
                      {% set namaHost = permit.host.split(':') %}
                      <td>
                        {{ namaHost[0] }}
                      </td>
                      <td>
                        <span class="badge bg-success me-1"></span> {{permit.purpose}}
                      </td>
                      <td>{{permit.startDate}} - {{permit.endDate}}</td>
                      <td >
                        
                      <!-- tombole completed-->
                      
                      <span data-bs-toggle="modal" data-bs-target="#viewImageEApproval">  
                        <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="viewUploadPermit('{{permit.id}}')" data-bs-original-title="Lihat Detail" aria-label="Views">
                          <span class="badge rounded-pill bg-success">Complated</span></a>
                      </span>
                      
                      <span data-bs-toggle="modal" data-bs-target="#detailPermit">  
                        <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="getPermitAprovalHistory('{{permit.id}}')" data-bs-original-title="Lihat Detail" aria-label="Views">
                          <span class="badge rounded-pill bg-success">Lihat Detail</span></a>
                      </span>
                      
                        
                      </div>
                    </td>
                  </tr>
                  
                  {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="card-footer d-flex align-items-center">
              
              <ul class="pagination">
                <li class="page-item {% if permit.page == 1 %} disabled {% endif %}"><a class="page-link" href="{{ url_for('views.history', page=permit.prev_num) }}">Previous</a></li>
                {% for page_num in permit.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                {% if permit.page == page_num %}
                <li class="page-item active"><a class="page-link" href="{{ url_for('views.history', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('views.history', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
                {% else %}
                ...
                {% endif %}
                {% endfor %}
                <li class="page-item {% if permit.page == permit.pages %} disabled {% endif %}"><a class="page-link" href="{{ url_for('views.history', page=permit.next_num) }}">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!--Lihat Detail -->
      <div class="modal fade" id="detailPermit" tabindex="-1">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Extra Large Modal</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Aproval Detail</h5>
                  <div class="text-end">
                
                </div>
                  <!-- Small tables -->
                  <div class="col-lg-8">
                    <table class="table table-borderless">
    
                      <tbody>
                        <tr>
                          <th scope="row" style="width:150px">Nama Company</th>
                          <td scope="row" style="width:3px">:</td>
                          <td id="permitDetailVendor"></td>
    
                        </tr>
                        <tr>
                          <th scope="row">Date</th>
                          <td scope="row">:</td>
                          <td id="permitDetailDate"></td>
    
                        </tr>
                        <tr>
                          <th scope="row">Purpose</th>
                          <td scope="row">:</td>
                          <td id="permitDetailPurpose"></td>
    
                        </tr>
                        <tr>
                          <th scope="row">Task</th>
                          <td scope="row">:</td>
                          <td id="permitDetailtask"></td>
    
                        </tr>
                        <tr>
                          <th scope="row">Permit No.</th>
                          <td scope="row">:</td>
                          <td id="permitDetailPermitNo"></td>
    
                        </tr>
    
                      </tbody>
                    </table>
                    <!-- End small tables -->
                    </div>
                  <div class="col-lg-10">
                    <h5 class="card-title">List Anggota Kerja</h5>
                  <table class="table table-sm" id="permitDetailAnggota">
                    <thead>
                      <tr>
                        <th scope="col" >#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Jabatan</th>
                        <th scope="col">NIK</th>
                        <th scope="col">Registrasi</th>
                        <th scope="col">Self Assessment Risiko COVID-19</th>
                      </tr>
                    </thead>


                    <tbody>



                      
                      


                    </tbody>
                  </table>
                  <!-- End small tables -->
                  <div class="col-lg-5">
                    <h5 class="card-title">Bring Recordable Media :</h5>
                    {% if permit.bawaBarang == 'YA' %}
                  <table class="table table-borderless col-lg-3" id="permitBarangBawaan">
                   
                    <tbody>
                      
    
                    </tbody>
                  </table>
                  {%else%}
                  <p> -</p>
                  {%endif%}
                </div>
                  
                  </div>
    
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div><!-- End Extra Large Modal-->



      <!--modal tombol completed -->
      <div class="modal fade" id="viewImageEApproval" tabindex="-1">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Extra Large Modal</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="" id = "imgUploadPermit" style="height: 400px;" alt="Profile" >
                
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div><!-- End Extra Large Modal-->


    {% endblock %}