
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <section class="section dashboard">
      {% if user.role == "Admin" or user.role == "Security"  %}
      <div class="pagetitle">
      <div class="d-flex">
        <div>
          <h1>Dashboard</h1>
        </div>
      </div>
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">



            <!-- Card -->
            <div class="col-md-3">
              <div class="card info-card monthly-card">
                <div class="card-body">

                  <div class="d-flex align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center">
                      <i class="bi bi-card-checklist"></i>
                    </div>
                    <div class="ps-3">
                      <h6>150</h6>
                      <span class="small pt-2 ps-1">This Month Visitors</span>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Card -->

            <!-- Card -->
            <div class="col-md-3">
              <div class="card info-card daily-card">
                <div class="card-body">

                  <div class="d-flex align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center">
                      <i class="bi bi-bar-chart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>15</h6>
                      <span class="small pt-2 ps-1">Daily Avg. Visitors</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card -->

            <!-- Card -->
            <div class="col-md-3">
              <div class="card info-card last-month-card">
                <div class="card-body">

                  <div class="d-flex align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center">
                      <i class="bi bi-clipboard-data"></i>
                    </div>
                    <div class="ps-3">
                      <h6>250</h6>
                      <span class="small pt-2 ps-1">last Month's Visitors</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card -->

          </div>
        </div><!-- End Left side columns -->

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body p-0">
              <div class="d-flex p-5">
                <h3 class="me-auto">Recent Visitors</h3>

                <div class="row w-75 ms-auto">
                  
                  <div class="col-md-3">
                    <div class="input-group">
                      <input class="form-control border-end-0 border" type="search" placeholder="Search Visitor" id="example-search-input">
                      <span class="input-group-append">
                          <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
                              <i class="bi bi-search"></i>
                          </button>
                      </span>
                    </div>
                    <!-- <div class="form-group has-feedback has-feedback-left">
                      <input type="text" class="form-control" placeholder="Search Visitor">
                      <i class="bi bi-search form-control-feedback"></i>
                    </div> -->
                  </div>
                  <div class="col-md-3 d-flex">
                    <div class="my-auto mx-auto">
                      <i class="bi bi-chevron-left"></i>
                      <span class="mx-2">Sept. 10, 2018</span>
                      <i class="bi bi-chevron-right"></i>
                    </div>
                  </div>
                </div>
              </div>

             
              <!-- Tabel Transaksi -->
              <table class="table datatable" id="table-visitors">
                <thead>
                  <tr>
                    <th scope="col">
                      <select class="form-select" aria-label="Default select example">
                      <option selected>Status</option>
                      <option value="1">CHECKED OUT</option>
                      <option value="2">CHECKEN IN</option>
                    
                      </select>
                    </th>
                    <th scope="col">Visitor Name</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Host</th>
                    <th scope="col">Time In</th>
                    <th scope="col">Time Out</th>
                    <th scope="col">Company Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {%for transaksi in transaksi.items %}
                    {% if (transaksi.status == 'checkin') or (transaksi.status == 'checkout')   %}
                    <td>
                      
                      {% if transaksi.status == 'checkin' %}
                      <select class="selectpicker form-control">
                        <option data-icon="bi-box-arrow-in-right" class="text-green" data-color="#19ed19"" selected>{{transaksi.status}}</option>
                        {% else %}
                        <select class="selectpicker form-control">
                          <option data-icon="bi-box-arrow-in-left" class="text-green" data-color="#ed2719"" selected>{{transaksi.status}}</option>
                        {% endif %}
                        
                      </select>                      
                    </td>
                    <td>
                      <img src="data:image/png;base64,{{transaksi.photo}}" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> {{ transaksi.namaVisitor }}</span>
                    </td>
                    <td>{{ transaksi.purpose }}</td>
                    {% set dataHost = transaksi.host.split(':') %}
                    <td>{{ dataHost[0] }}</td>
                    <td>{{ transaksi.timeCheckin }}</td>
                    {% if transaksi.timeCheckout == None %}
                    <td> - </td>
                    {% else %}
                    <td>{{ transaksi.timeCheckout }}</td>
                    {% endif %}
                    <td>{{ transaksi.vendor }}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
        
      </div>
      {% else %}


      <!-- Halaman Host -->
      <div class="row">

        
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Approval</h3>
            </div>
            <div class="card-body border-bottom py-3">
              <div class="d-flex">
                <div class="ms-auto text-muted">
                  Search:
                  <div class="ms-2 d-inline-block">
                    <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                  </div>
                </div>
              </div>
            </div>


            <!-- Table Aprove Host -->

            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                  <tr>
                    
                    <th>Location</th>
                    <th>Company Name</th>
                    <th>Email</th>
                    <th>Host</th>
                    <th>Purpose</th>
                    <th>Date</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                  {%for permit in permit.items %}
                    <td>
                      <select onchange="updateLoc('{{permit.id}}',this.options[this.selectedIndex].value)" class="form-select form-select-danger" id="floatingSelect" aria-label="Floating label select example">
                      {% if permit.location == '' %}
                      <option selected>SELECT LOCATION</option>
                      {% else %}
                      <option selected>{{permit.location}}</option>
                      {% endif %}
                      {%for locations in location %}
                      <option value="{{locations.location}}">{{locations.location}}</option>
                    
                      {% endfor %}
                      </select>
                  </td>
                    <td>
                      <span class="flag flag-country-us"></span>
                      {{permit.namaVendor}}
                    </td>
                    <td>
                      {{permit.email}}
                    </td>
                    {% set namaHost = permit.host.split(':') %}
                    <td>
                      {{ namaHost[0] }}
                    </td>
                    <td>
                      <span class="badge bg-success me-1"></span> {{permit.purpose}}
                    </td>
                    <td>{{permit.startDate}} - {{permit.endDate}}</td>
                    <td >
                      <span data-bs-toggle="modal" data-bs-target="#detailPermit">  
                        <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="getPermitdetail('{{permit.id}}')" data-bs-original-title="View Detail" aria-label="Views"><span class="badge rounded-pill bg-success">View Detail</span></a>
                      </span>
                      
                      {% if permit.statusGenerate == 'ok' %}
                      <span data-bs-toggle="modal" data-bs-target="#uploadGambarPermit">  
                        <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="getIdUpload('{{permit.id}}')" data-bs-original-title="Upload E-Approval" aria-label="Views"><span class="badge rounded-pill bg-success">Upload</span></a>
                      </span>
                      {% else %} 
                      <span data-bs-toggle="modal">  
                        <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Upload E-Approval" aria-label="Views"><span class="badge rounded-pill bg-secondary">Upload</span></a>
                      </span>
                      {% endif %}

                      </div>
                    </td>
                  </tr>
                  
                  {% endfor %}
                  
                  
                </tbody>
              </table>
            </div>
            
           <nav class="float-end mt-3">
                <ul class="pagination">
                  <li class="page-item {% if permit.page == 1 %} disabled {% endif %}"><a class="page-link" href="{{ url_for('views.home', page=permit.prev_num) }}">Previous</a></li>
                  {% for page_num in permit.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                  {% if page_num %}
                  {% if permit.page == page_num %}
                  <li class="page-item active"><a class="page-link" href="{{ url_for('views.home', page=page_num) }}">{{ page_num }}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="{{ url_for('views.home', page=page_num) }}">{{ page_num }}</a></li>
                  {% endif %}
                  {% else %}
                  ...
                  {% endif %}
                  {% endfor %}
                  <li class="page-item {% if permit.page == permit.pages %} disabled {% endif %}"><a class="page-link" href="{{ url_for('views.home', page=permit.next_num) }}">Next</a></li>
                </ul>
              </nav>

          </div>
        </div>
        
        
      </div>


      <!-- Modal editphoto -->
      <div class="modal fade" id="uploadGambarPermit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            
            <div class="modal-body" style="
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
">
              <div class="card">
                <div class="card-body" style="
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
">
                  
                  <!-- General Form Elements -->
                  <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" id="idPermitUpload" name="idPermit" >
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="" id = "uploadGambarDbPermit" style="height: 400px;" alt="Profile" >
                    
                    </div>
                    <div class="row mb-3">
                      <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                      <div class="col-sm-10">
                        <input type="file"  class="form-control" id="photo" name="photo" accept=".jpg, .jpeg" required>
                      </div>
                    </div>
                

                    <div class="row mb-3">
                      
                      <div class="col-sm-10">
                        
                        <button type="submit" name="formEdit"  value="uploadGambarApproval"class="btn btn-primary">Upload E-Approval</button>
                      t>
                      </div>
                    </div>

                  </form><!-- End General Form Elements -->

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           
            </div>
          </div>
        </div>
      </div>









       <!--Lihat Detail -->
       <div class="modal fade" id="detailPermit" tabindex="-1">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button onclick="reloadHalaman()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Aproval Detail</h5>
                  <div class="text-end">
                 
                </div>
                  <!-- Small tables -->
                  <div class="col-lg-8">
                    <table class="table table-borderless">
    
                      <tbody>
                        <tr>
                          <th scope="row" style="width:150px">Nama Company</th>
                          <td scope="row" style="width:3px">:</td>
                          <td id="permitDetailVendor"></td>
    
                        </tr>
                        <tr>
                          <th scope="row">Date</th>
                          <td scope="row">:</td>
                          <td id="permitDetailDate"></td>
    
                        </tr>
                        <tr>
                          <th scope="row">Purpose</th>
                          <td scope="row">:</td>
                          <td id="permitDetailPurpose"></td>
    
                        </tr>
                        <tr>
                          <th scope="row">Task</th>
                          <td scope="row">:</td>
                          <td id="permitDetailtask"></td>
    
                        </tr>
                        <tr>
                          <th scope="row">Permit No.</th>
                          <td scope="row">:</td>
                          <td id="permitDetailPermitNo"></td>
    
                        </tr>
    
                      </tbody>
                    </table>
                    <!-- End small tables -->
                    </div>
                  <div class="col-lg-10">
                    <h5 class="card-title">List Anggota Kerja</h5>
                  <table class="table table-sm" id="permitDetailAnggota">
                    <thead>
                      <tr>
                        <th scope="col" >#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Jabatan</th>
                        <th scope="col">NIK</th>
                        <th scope="col">Registrasi</th>
                        <th scope="col">Self Assessment Risiko COVID-19</th>
                      </tr>
                    </thead>


                    <tbody>



                      
                      


                    </tbody>
                  </table>
                  <!-- End small tables -->
                  <div class="col-lg-5">
                    <h5 class="card-title">Bring Recordable Media :</h5>  
                  <table class="table table-borderless col-lg-3" id="permitBarangBawaan">
                    
                    <tbody>
                      
    
                    </tbody>
                  </table>
                </div>
                  <div class="text-end">
                    <span data-bs-toggle="modal" data-bs-target="#staticApprovalDecline">
                        
                      <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="" data-bs-original-title="Decline" aria-label="Views"><span class="badge rounded-pill bg-danger">Decline</span></a>
                    </span>
                  
                  <a id="generatebuttonxls" href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="" data-bs-original-title="Generate" aria-label="Views"><span class="badge rounded-pill bg-secondary">Generate</span></a>
                  
                </div>
                  </div>
    
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button onclick="reloadHalaman()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div><!-- End Extra Large Modal-->


       <!-- Modal Komentar Decline -->
<div class="modal fade" id="staticApprovalDecline" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h5 id ="edit" class="card-title">Please enter the reason for the rejection of approval</h5>
            
            
            <!-- General Form Elements -->
            
              <input type="hidden" class="form-control" id="idPermitReject" name="userNamee" >
              
              <div class="row mb-3">
                
                <div class="col-sm-10">
                  <textarea id='emailBody' class="form-control" style="height: 100px"></textarea>
                </div>
              </div>
          

              <div class="row mb-3">
                
                <div class="col-sm-10">
                  <button onclick='kirimEmailDecline()' name="formEdit" value="editPhoto" class="btn btn-danger">Decline Approval</button>
                </div>
              </div>

            <!-- End General Form Elements -->

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
     
      </div>
    </div>
  </div>
</div>

    <!-- Modal Upload Sukses -->
    <div class="modal fade" id="staticApprovalSuccess" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          
          <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <h4 id ="edit" class="card-title text-center pb-0 fs-4">Approval has been uploaded successfully.</h4>
                <h3 id ="edit2" class="card-title text-center pb-0 fs-4">The QR code has been sent to the requestor's email.</h3>
                
                
                
              
    
               
    
               
    
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
          </div>
        </div>
      </div>
    </div>


     
      {% endif %}
    </section>
    {% endblock %}