
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <section class="section dashboard">
      {% if user.role == "Admin" or user.role == "Security"  %}
      <div class="pagetitle">
      <div class="d-flex">
        <div>
          <h1>Dashboard</h1>
        </div>
      </div>
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">



            <!-- Card -->
            <div class="col-md-3">
              <div class="card info-card monthly-card">
                <div class="card-body">

                  <div class="d-flex align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center">
                      <i class="bi bi-card-checklist"></i>
                    </div>
                    <div class="ps-3">
                      <h6>150</h6>
                      <span class="small pt-2 ps-1">This Month Visitors</span>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Card -->

            <!-- Card -->
            <div class="col-md-3">
              <div class="card info-card daily-card">
                <div class="card-body">

                  <div class="d-flex align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center">
                      <i class="bi bi-bar-chart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>15</h6>
                      <span class="small pt-2 ps-1">Daily Avg. Visitors</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card -->

            <!-- Card -->
            <div class="col-md-3">
              <div class="card info-card last-month-card">
                <div class="card-body">

                  <div class="d-flex align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center">
                      <i class="bi bi-clipboard-data"></i>
                    </div>
                    <div class="ps-3">
                      <h6>250</h6>
                      <span class="small pt-2 ps-1">last Month's Visitors</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card -->

          </div>
        </div><!-- End Left side columns -->

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body p-0">
              <div class="d-flex p-5">
                <h3 class="me-auto">Recent Visitors</h3>

                <div class="row w-75 ms-auto">
                  
                  <div class="col-md-3">
                    <div class="input-group">
                      <input class="form-control border-end-0 border" type="search" placeholder="Search Visitor" id="example-search-input">
                      <span class="input-group-append">
                          <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
                              <i class="bi bi-search"></i>
                          </button>
                      </span>
                    </div>
                    <!-- <div class="form-group has-feedback has-feedback-left">
                      <input type="text" class="form-control" placeholder="Search Visitor">
                      <i class="bi bi-search form-control-feedback"></i>
                    </div> -->
                  </div>
                  <div class="col-md-3 d-flex">
                    <div class="my-auto mx-auto">
                      <i class="bi bi-chevron-left"></i>
                      <span class="mx-2">Sept. 10, 2018</span>
                      <i class="bi bi-chevron-right"></i>
                    </div>
                  </div>
                </div>
              </div>

             
              <!-- Table with stripped rows -->
              <table class="table datatable" id="table-visitors">
                <thead>
                  <tr>
                    <th scope="col">
                      <select class="form-select" aria-label="Default select example">
                      <option selected>Status</option>
                      <option value="1">CHECKED OUT</option>
                      <option value="2">CHECKEN IN</option>
                    
                      </select>
                    </th>
                    <th scope="col">Visitor Name</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Host</th>
                    <th scope="col">Time In</th>
                    <th scope="col">Time Out</th>
                    <th scope="col">Company Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      
                      <select class="selectpicker form-control">
                        <option data-icon="bi-box-arrow-in-left" class="text-green" data-color="#19ed19"" selected>CHECKED IN</option>
                        
                        
                      </select>                      
                    </td>
                    <td>
                      <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> Brandon Jacob</span>
                    </td>
                    <td>Designer</td>
                    <td>Darma</td>
                    <td>2016-05-25</td>
                    <td>2016-05-25</td>
                    <td>PANASONIC</td>
                  </tr>
                  <tr>
                    <td>
                      <select class="selectpicker form-control">
                        <option data-icon="bi-box-arrow-in-left" class="text-blue" data-color="blue">CHECKED IN</option>
                        <option data-icon="bi-box-arrow-right" class="text-grey" data-color="grey">CHECKED OUT</option>
                        <option data-icon="bi-clock" class="text-green" data-color="#19ed19">EXPECTED</option>
                      </select>
                    </td>
                    <td>
                      <img src="assets/img/messages-1.jpg" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> Bridie Kessler</span>
                    </td>
                    <td>Developer</td>
                    <td>Dharma</td>
                    <td>2014-12-05</td>
                    <td>2014-12-05</td>
                    <td>PANASONIC</td>
                  </tr>
                  <tr>
                    <td>
                      <select class="selectpicker form-control">
                        <option data-icon="bi-box-arrow-in-left" class="text-blue" data-color="blue">CHECKED IN</option>
                        <option data-icon="bi-box-arrow-right" class="text-grey" data-color="grey" selected>CHECKED OUT</option>
                        <option data-icon="bi-clock" class="text-green" data-color="#19ed19">EXPECTED</option>
                      </select>
                    </td>
                    <td>
                      <img src="assets/img/messages-2.jpg" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> Ashleigh Langosh</span>
                    </td>
                    <td>Finance</td>
                    <td>Dharma</td>
                    <td>2011-08-12</td>
                    <td>2011-08-12</td>
                    <td>PANASONIC</td>
                  </tr>
                  <tr>
                    <td>
                      <select class="selectpicker form-control">
                        <option data-icon="bi-box-arrow-in-left" class="text-blue" data-color="blue">CHECKED IN</option>
                        <option data-icon="bi-box-arrow-right" class="text-grey" data-color="grey">CHECKED OUT</option>
                        <option data-icon="bi-clock" class="text-green" data-color="#19ed19" selected>EXPECTED</option>
                      </select>
                    </td>
                    <td>
                      <img src="assets/img/messages-3.jpg" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> Angus Grady</span>
                    </td>
                    <td>HR</td>
                    <td>34</td>
                    <td>2012-06-11</td>
                    <td>2012-06-11</td>
                    <td>PANASONIC</td>
                  </tr>
                  <tr>
                    <td>
                      <select class="selectpicker form-control">
                        <option data-icon="bi-box-arrow-in-left" class="text-blue" data-color="blue">CHECKED IN</option>
                        <option data-icon="bi-box-arrow-right" class="text-grey" data-color="grey">CHECKED OUT</option>
                        <option data-icon="bi-clock" class="text-green" data-color="#19ed19" selected>EXPECTED</option>
                      </select>
                    </td>
                    <td>
                      <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> Raheem Lehner</span>
                    </td>
                    <td>Dynamic Division Officer</td>
                    <td>47</td>
                    <td>2011-04-19</td>
                    <td>2011-04-19</td>
                    <td>PANASONIC</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
        
      </div>
      {% else %}
      <!-- Host -->
      <div class="row">

        
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Approval</h3>
            </div>
            <div class="card-body border-bottom py-3">
              <div class="d-flex">
                <div class="ms-auto text-muted">
                  Search:
                  <div class="ms-2 d-inline-block">
                    <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                  <tr>
                    
                    <th>Location</th>
                    <th>Company Name</th>
                    <th>Requestor Name</th>
                    <th>NIK</th>
                    <th>Purpose</th>
                    <th>Date</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                  {%for permit in permit.items %}
                    <td><select class="form-select form-select-danger" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>SELECT LOCATION</option>
                      <option value="1">Loby A</option>
                      <option value="2">Medan Room</option>
                      <option value="3">Loby B</option>
                    </select></td>
                    <td>
                      <span class="flag flag-country-us"></span>
                      {{permit.namaVendor}}
                    </td>
                    <td>
                      {{permit.email}}
                    </td>
                    <td>
                      {{permit.permitNo}}
                    </td>
                    <td>
                      <span class="badge bg-success me-1"></span> {{permit.purpose}}
                    </td>
                    <td>{{permit.startDate[0:10]}} - {{permit.endDate[0:10]}}</td>
                    <td >
                      <span data-bs-toggle="modal" data-bs-target="#ExtralargeModal">
                        
                        <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="" data-bs-original-title="Lihat Detail" aria-label="Views"><span class="badge rounded-pill bg-success">Lihat Detail</span></a>
                      </span>
                        
                      </div>
                    </td>
                  </tr>
                  
                  {% endfor %}
                  
                  
                </tbody>
              </table>
            </div>

           <nav class="float-end mt-3">
                <ul class="pagination">
                  <li class="page-item {% if permit.page == 1 %} disabled {% endif %}"><a class="page-link" href="{{ url_for('views.home', page=permit.prev_num) }}">Previous</a></li>
                  {% for page_num in permit.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                  {% if page_num %}
                  {% if permit.page == page_num %}
                  <li class="page-item active"><a class="page-link" href="{{ url_for('views.home', page=page_num) }}">{{ page_num }}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="{{ url_for('views.home', page=page_num) }}">{{ page_num }}</a></li>
                  {% endif %}
                  {% else %}
                  ...
                  {% endif %}
                  {% endfor %}
                  <li class="page-item {% if permit.page == permit.pages %} disabled {% endif %}"><a class="page-link" href="{{ url_for('views.home', page=permit.next_num) }}">Next</a></li>
                </ul>
              </nav>

          </div>
        </div>
        
        
      </div>
       <!-- Modal Approval -->
       <div class="modal fade" id="ExtralargeModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Extra Large Modal</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Aproval Detail</h5>
                  <div class="text-end">
                  <p style="color: red;font-weight:900;">Waiting approval from HR Dept</p>
                </div>
                  <!-- Small tables -->
                  <div class="col-lg-8">
                    <table class="table table-borderless">
    
                      <tbody>
                        <tr>
                          <th scope="row" style="width:150px">Nama Company</th>
                          <td scope="row" style="width:3px">:</td>
                          <td>PANASONIC</td>
    
                        </tr>
                        <tr>
                          <th scope="row">Date</th>
                          <td scope="row">:</td>
                          <td>7 September 2021</td>
    
                        </tr>
                        <tr>
                          <th scope="row">Purpose</th>
                          <td scope="row">:</td>
                          <td>Meeting</td>
    
                        </tr>
    
                      </tbody>
                    </table>
                    <!-- End small tables -->
                    </div>
                  <div class="col-lg-10">
                    <h5 class="card-title">List Anggota Kerja</h5>
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Jabatan</th>
                        <th scope="col">NIK</th>
                        <th scope="col">Registrasi</th>
                        <th scope="col">Self Assessment Risiko COVID-19</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Brandon Jacob</td>
                        <td>Designer</td>
                        <td>2832423456543134</td>
                        <td style="text-align: center; vertical-align: middle;"><i class="ri-checkbox-circle-line"></i></td>
                        <td style="text-align: center; vertical-align: middle;"><i class="ri-checkbox-circle-line"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Bridie Kessler</td>
                        <td>Developer</td>
                        <td>35</td>
                        <td style="text-align: center; vertical-align: middle;"><i class="ri-checkbox-circle-line"></i></td>
                        <td style="text-align: center; vertical-align: middle;"><i class="ri-checkbox-circle-line"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Ashleigh Langosh</td>
                        <td>Finance</td>
                        <td>45</td>
                        <td style="text-align: center; vertical-align: middle;"><i class="ri-checkbox-circle-line"></i></td>
                        <td style="text-align: center; vertical-align: middle;"><i class="ri-checkbox-circle-line"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Angus Grady</td>
                        <td>HR</td>
                        <td>34</td>
                        <td style="text-align: center; vertical-align: middle;"><i class="ri-checkbox-circle-line"></i></td>
                        <td style="text-align: center; vertical-align: middle;"><i class="ri-checkbox-circle-line"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Raheem Lehner</td>
                        <td>Dynamic</td>
                        <td>47</td>
                        <td style="text-align: center; vertical-align: middle;"><i class="ri-checkbox-circle-line"></i></td>
                        <td style="text-align: center; vertical-align: middle;"><i class="ri-checkbox-circle-line"></i></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End small tables -->
                  <div class="col-lg-5">
                    <h5 class="card-title">Bring Recordable Media :</h5>
                  <table class="table table-borderless col-lg-3" >
                    <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Controlled Items</th>
                        <th scope="col">Detail</th>
    
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Brandon Jacob</td>
                        <td>Designer</td>
    
    
                      </tr>
    
                    </tbody>
                  </table>
                </div>
                  <div class="text-end">
                    <span data-bs-toggle="modal" data-bs-target="#staticApprovalDecline">
                        
                      <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="" data-bs-original-title="Upload Aproval" aria-label="Views"><span class="badge rounded-pill bg-danger">Decline</span></a>
                    </span>
                  
                  <span class="badge rounded-pill bg-success">Generate</span>
                  
                </div>
                  </div>
    
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div><!-- End Extra Large Modal-->
       <!-- Modal Approval Keterangan -->
<div class="modal fade" id="staticApprovalDecline" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h5 id ="edit" class="card-title">Please enter the reason for the rejection of approval</h5>
            
            
            <!-- General Form Elements -->
            <form method="POST" enctype="multipart/form-data">
              <input type="hidden" class="form-control" id="userNamePhoto" name="userNamee" >
              
              <div class="row mb-3">
                
                <div class="col-sm-10">
                  <textarea class="form-control" style="height: 100px"></textarea>
                </div>
              </div>
          

              <div class="row mb-3">
                
                <div class="col-sm-10">
                  <button type="submit" name="formEdit" value="editPhoto"class="btn btn-danger">Decline Approval</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
     
      </div>
    </div>
  </div>
</div>
    <!-- Modal Approval Sukses -->
    <div class="modal fade" id="staticApprovalSuccess" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          
          <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <h4 id ="edit" class="card-title text-center pb-0 fs-4"">Approval has been uploaded successfully.</h4>
                <h3 id ="edit2" class="card-title text-center pb-0 fs-4"">The QR code has been sent to the requestor's email.</h3>
                
                
                
              
    
               
    
               
    
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
          </div>
        </div>
      </div>
    </div>
      <!-- Modal editphoto -->
<div class="modal fade" id="staticBackdropPhoto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h5 id ="edit" class="card-title">Upload Aproval</h5>
            
            
            <!-- General Form Elements -->
            <form method="POST" enctype="multipart/form-data">
              <input type="hidden" class="form-control" id="userNamePhoto" name="userNamee" >
              
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                <div class="col-sm-10">
                  <input type="file"  class="form-control" id="photo" name="photo" accept=".jpg, .jpeg" required>
                </div>
              </div>
          

              <div class="row mb-3">
                
                <div class="col-sm-10">
                  <!--
                  <button type="submit" name="formEdit" value="editPhoto"class="btn btn-primary">Submit Form</button>
                  -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticApprovalSuccess">
                    Submit Approval
                  </button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>
</div>
      {% endif %}
    </section>
    {% endblock %}