
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <div class="pagetitle">
      <div class="d-flex">
        <div>
          <h1>Report Display</h1>
          
        </div>

        
      </div>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

       

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body p-0">
              

             
              <!-- Table with stripped rows -->
              <table class="table datatable" id="table-visitors">
                <thead>
                  <tr>
                    
                    <th scope="col">Visitor Name</th>
                    <th scope="col">NIK</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Company</th>
                    <th scope="col">Host</th>
                    <th scope="col">Time In</th>
                    <th scope="col">Time Out</th>
                    <th scope="col">Aproval Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>
                      <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> Brandon Jacob</span>
                    </td>
                    <td>Designer</td>
                    <td>Darma</td>
                    <td>2016-05-25</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    
                    <td>
                      <img src="assets/img/messages-1.jpg" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> Bridie Kessler</span>
                    </td>
                    <td>Developer</td>
                    <td>Dharma</td>
                    <td>2014-12-05</td>
                    <td>2014-12-05</td>
                  </tr>
                  <tr>
                    
                      
                    <td>
                      <img src="assets/img/messages-2.jpg" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> Ashleigh Langosh</span>
                    </td>
                    <td>Finance</td>
                    <td>Dharma</td>
                    <td>2011-08-12</td>
                    <td>2011-08-12</td>
                  </tr>
                  <tr>
                    
                    <td>
                      <img src="assets/img/messages-3.jpg" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> Angus Grady</span>
                    </td>
                    <td>HR</td>
                    <td>34</td>
                    <td>2012-06-11</td>
                    <td>2012-06-11</td>
                  </tr>
                  <tr>
                    
                    <td>
                      <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> Raheem Lehner</span>
                    </td>
                    <td>Dynamic Division Officer</td>
                    <td>47</td>
                    <td>2011-04-19</td>
                    <td>2011-04-19</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>

      </div>
    </section>
    {% endblock %}