
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <div class="pagetitle">
      <div class="d-flex">
        <div>
          <h1>Report Display</h1>         
          
      </div>
      </div>
    </div>
    <!-- End Page Title -->

    <!-- Button Selection -->
    <div class="col-lg-12">
          
      <div class="card">
        <div class="card-body">
          
          <form method="POST" enctype="multipart/form-data" class="row g-4" >
            <!-- <h5 class="card-title">Report Template</h5>-->        
            <!--<h5 class="card-title">Export Setting</h5>-->
              
            <div class="col-md-3 position-relative">
              <label for="inputDate" class="col-sm-5 col-form-label">Date From</label>
              <div class="col">
                <input name="startDate" type="date" class="form-control" value={{hariIni}}>
              </div>

            </div>
            <div class="col-md-3 position-relative">
              
              <label for="inputDate" class="col-sm-7 col-form-label">Date End</label>
              <div class="col">
                <input name="endDate" type="date" class="form-control" value={{hariIni2}}>
              </div>
            </div>
            <div class="col-md-3 position-relative">
              <label class="col-sm-7 col-form-label">Format</label>
              <div class="col">
                <select class="form-select" aria-label="Default select example">
                  <option selected>XLS</option>
                  <option value="1">PDF</option>
                  
                </select>
              </div>
            </div>
            <div class="col-12">
              <button name="filterview" value="filterview" class="btn btn-primary" type="submit">View</button>
              <button name="buttonfilter" value="buttonfilter" class="btn btn-primary" >Export</button>
            </div>
            
          </form><!-- End Custom Styled Validation with Tooltips -->

        </div>
          
          
        </div>
      </div>
    <!-- End Button -->

    <!-- Filter Column -->
    {% if filterR == 'no' %}
    <div class="pagetitle">
      <div class="d-flex">
        <div>
          <h1>Today</h1>         
          
      </div>
      </div>
    </div>
    {% else %}
    <div class="pagetitle">
      <div class="d-flex">
        <div>
         
          <h1>By filter Start Date {{ filterList[0] }} End Date {{ filterList[1] }}</h1>         
          
      </div>
      </div>
    </div>
    {% endif %}
    <!-- End Filter Column -->





    <section class="section dashboard">
      <div class="row">

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body p-0">
              

             
              <!-- Table with stripped rows -->
              <table class="table datatable" id="table-visitors">
                <thead>
                  <tr>
                    
                    <th scope="col">Visitor Name</th>
                    <th scope="col">NIK</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Company</th>
                    <th scope="col">Host</th>
                    <th scope="col">Time In</th>
                    <th scope="col">Time Out</th>
                    <th scope="col">Aproval Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for datas in transaksi %}
                    <td>
                      <img src="data:image/png;base64,{{datas.photo}}" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span> {{datas.namaVisitor}}</span>
                    </td>
                    <td>{{datas.nik}}</td>
                    <td>{{datas.purpose}}</td>
                    <td>{{datas.vendor}}</td>
                    {% set dataHost = datas.host.split(':') %}
                    <td>{{ dataHost[0] }}</td>
                    <td>{{datas.timeCheckin.strftime('%d-%m-%Y %H:%M')}}</td>
                    {% if datas.timeCheckout == None %}
                    
                    <td> - </td>
                    {% else %}
                    <td>{{datas.timeCheckout.strftime('%d-%m-%Y %H:%M') }}</td>
                    {% endif %}
                    <td>{{datas.statusPermit}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
        <div class="col-lg-8">
          
          
          </div>

        </div>

      </div>
    </section>
    {% endblock %}