{% extends "base.html" %} 
{% block title %}signup{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    <h3 align="center">Settings</h3>
    <div class="card">
      <div class="card-body">
      <div class="form-group">
        <label for="firstName">User : {{user.firstName}}</label>
        <input type="hidden" class="form-control" id="userNamee" name="userName" value="{{user.userName}}" >
        
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
          style="padding-left: 12px;width: 300px;"
        />
      </div>
      <div class="form-group">
        <label for="password1">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Confirm password"
          style="padding-left: 12px;width: 300px;"
        />
        
        <br />
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>

{% endblock %}