
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <div class="pagetitle">
      <div class="d-flex">
        <div>
          <h1>Dashboard</h1>
          
          
        </div>

        
      </div>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row card-group">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">



            <!-- Card -->
            <div class="col-md-3">
              <div class="card info-card monthly-card">
                <div class="card-body">

                  <div class="d-flex align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center">
                      <i class="bi bi-card-checklist"></i>
                    </div>
                    <div class="ps-3">
                      <h6>150</h6>
                      <span class="small pt-2 ps-1">This Month Visitors</span>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Card -->

            <!-- Card -->
            <div class="col-md-3">
              <div class="card info-card daily-card">
                <div class="card-body">

                  <div class="d-flex align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center">
                      <i class="bi bi-bar-chart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>15</h6>
                      <span class="small pt-2 ps-1">Daily Avg. Visitors</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card -->

            <!-- Card -->
            <div class="col-md-3">
              <div class="card info-card last-month-card">
                <div class="card-body">

                  <div class="d-flex align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center">
                      <i class="bi bi-clipboard-data"></i>
                    </div>
                    <div class="ps-3">
                      <h6>250</h6>
                      <span class="small pt-2 ps-1">last Month's Visitors</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card -->

          </div>
        </div><!-- End Left side columns -->
        <div class="col-lg-8">

          <div class="card">
            <div class="card-body p-0">
              <div class="d-flex p-5">
                <h3 class="me-auto">Transaction Visitors</h3>

                <div class="row w-75 ms-auto">
                  
                  <div class="col-md-3">
                    <div class="input-group">
                      <input class="form-control border-end-0 border" type="search" placeholder="Search Visitor" id="example-search-input">
                      <span class="input-group-append">
                          <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
                              <i class="bi bi-search"></i>
                          </button>
                      </span>
                    </div>
                    <!-- <div class="form-group has-feedback has-feedback-left">
                      <input type="text" class="form-control" placeholder="Search Visitor">
                      <i class="bi bi-search form-control-feedback"></i>
                    </div> -->
                  </div>
                  <div class="col-md-3 d-flex">
                    <div class="my-auto mx-auto">
                      <!--<i class="bi bi-chevron-left"></i>
                       <span class="mx-2">Sept. 10, 2018</span>
                      <i class="bi bi-chevron-right"></i>-->
                    </div>
                  </div>
                </div>
              </div>

             
              <!-- Table with stripped rows -->
              <table class="table datatable" id="table-visitors">
                <thead>
                  <tr>
                    <th scope="col">
                      <select class="form-select" aria-label="Default select example">
                      <option selected>Status</option>
                      <option value="1">CHECKED OUT</option>
                      <option value="2">CHECKEN IN</option>
                    
                      </select>
                    </th>
                    <th scope="col">Visitor Name</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Host</th>
                    <th scope="col">Time In</th>
                    <th scope="col">Time Out</th>
                    <th scope="col">Company Name</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    {% for transaksi in transaksi.items %}
                    {% if (transaksi.status == "checkin") or (transaksi.status == "checkout")   %}
                    <td>
                      
                      <!-- {% if transaksi.status == 'checkin' %} -->
                      <select class="selectpicker form-control">
                        <option data-icon="bi-box-arrow-in-right" class="text-green" data-color="#19ed19"" selected>{{transaksi.status}}</option>
                        {% else %}
                        <select class="selectpicker form-control">
                          <option data-icon="bi-box-arrow-in-left" class="text-green" data-color="#ed2719"" selected>{{transaksi.status}}</option>
                        {% endif %}
                        
                      </select>                      
                    </td>
                    <td>
                      <img src="data:image/png;base64,{{transaksi.photo}}" alt="Profile" class="rounded-circle me-2" width="35"> 
                      <span>{{ transaksi.namaVisitor }}</span>
                    </td>
                    <td>{{ transaksi.purpose }}</td>
                    {% set dataHost = transaksi.host.split(':') %}
                    <td>{{ dataHost[0] }}</td>
                    <td>{{ transaksi.timeCheckin }}</td>
                    {% if transaksi.timeCheckout == None %}
                    <td> - </td>
                    {% else %}
                    <td>{{ transaksi.timeCheckout }}</td>
                    {% endif %}
                    <td>{{ transaksi.vendor }}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="card card-checkin">
            <div class="card-header text-center font-weight-bold" style="font-size: 23px;line-height: 23px;letter-spacing: -0.003em;font-weight: 900;font-style: normal;">
              Waiting List
            </div>

            
          
              <div id="kolomWaitingList"></div>

              


            </div>
            

      </div>
          </div>

    </section>
    <script type = "text/javascript">
      function waitingList(){
  
        fetch("/waitinglist", {
          method: "GET",
        }).then((response) => {
          return response.json()
        }).then((data) => {
          
          let kolomWaitingList = '';
          document.getElementById('kolomWaitingList').innerHTML = '';
          
          for (ok of data){
            kolomWaitingList += `
            <div class="card info-card">
            <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="card-icon d-flex align-items-center justify-content-center">
                <img src="data:image/png;base64,${ok.photo}" alt="Profile" style="padding-left: 30px;" class=" me-3" height="70">
              </div>
              <div class="ps-3" style="margin-left: 20px;">
                <h6 style="color:#5e5d5d;">${ok.nama}</h6>
                <h8 style="color:#5e5d5d;" class="small pt-2 ps-1">${ok.nik}</h8><br>
                <h8 style="color:#5e5d5d;" class="small pt-2 ps-1">${ok.company}</h8><br>
                <h8 style="color:#5e5d5d;" class="small pt-2 ps-1">${ok.location}</h8><br>
                <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="tombolCheckin('${ok.id}')" data-bs-original-title="" aria-label="Views"><span class="badge rounded-pill bg-success">Approve</span> <span class="badge rounded-pill bg-primary">Checkin</span></a>
            </div> 
                <div class="ps-3">
            <img src="checked/assets/img/id-card.png" alt="Profile" class=" me-2" style="border-top-style: solid;padding-bottom: 60px;">
            <span style="font-size: 4em;line-height: 0;letter-spacing: -0.095em;font-weight: 500;font-style: normal;border-bottom-style: solid;border-top-style: solid;" class="text-primary">${ok.badge}</span>
            </div>
            </div>
            </div>
          </div>  
        `
        
          }
          
          document.getElementById('kolomWaitingList').innerHTML = kolomWaitingList;
          
        })
        }
        setInterval(waitingList,1000)
    </script>
    {% endblock %}